

<div style="padding-left:10%;padding-top:10%;padding-right:10%;padding-bottom:10%;background:#222;">
    <h1 style="color:white;font-size:50px;font-style: italic;text-align:center;">Welcome to techwiz!</h1>
	<div class="panel-group" id="main" class="container">
	<div class="row">
	<h2 style="color:#dfdfe5;font-size:50px;font-style: italic;">New user?</h2>
	<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#Signup" data-parent="#main" 
	style="font-size:20px;padding-right:10%;padding-left:10%;margin-left:20%">SignUp</button>
    <div id="Signup" class="collapse">
    <form action="signup.php" method="post">
	<div class="form-group" Style="padding-right:10%;">
      <label for="name" style="color:white">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" style="Background-color:white;" required>
    </div>
    <div class="form-group" Style="padding-right:10%">
      <label for="email" style="color:white">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" style="Background-color:white" required>
    </div>
	<div class="form-group" Style="padding-right:10%">
      <label for="mobile" style="color:white">Mobile no:</label>
      <input type="tel" class="form-control" id="mobile" placeholder="Enter Mobile no" name="mobile" style="Background-color:white" required>
    </div>
    <div class="form-group" Style="padding-right:10%">
      <label for="pwd" style="color:white">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" style="Background-color:white" required>
    </div>
    
    <button type="submit" class="btn btn-default" Style="padding-right:10%;padding-left:10%; margin-bottom:10%;font-size:20px;margin-left:20%">Submit</button>
  </form>
  </div>
  </div>
<div class="row">
	<h2 style="color:#dfdfe5;font-size:50px;font-style: italic;margin-top:5%">Already a user? </h2>
	<button type="button" id="login" class="btn btn-info" data-toggle="collapse" data-target="#Login" data-parent="#main"  style="font-size:20px;padding-right:10%;padding-left:10%;margin-left:20%">Login</button>
  <div id="Login" class="collapse">
    <form action="login.php" method="post">
    <div class="form-group" Style="padding-right:10%">
      <label for="email" style="color:white">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" style="Background-color:white" required>
    </div>
    <div class="form-group" Style="padding-right:10%; padding-bottom:5%">
      <label for="pwd" style="color:white">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd" style="Background-color:white" required>
    </div>
   
    <button type="submit" class="btn btn-default"  Style="padding-right:10%;padding-left:10%; margin-bottom:10%;font-size:20px;margin-left:20%">Submit</button>
  </form>
  </div>
  </div> 
  </div> 
</div>