<div class="container">
  <div class="jumbotron" style="margin-top:10%;align:center">
  <h1 style="text-align:center">Delete Food</h1>      
  
</div>
<div class="container">
  <div class="row">
  <div class="col-sm-2 col-md-2 col-lg-2">
    <button class="btn btn-info" (click)="goBack()">Back</button>
  
  </div>
  <div class="col-sm-8 col-md-8 col lg-8"></div>
  
  <div class="col-sm-2 col-md-2 col-lg-2">
    <button class="btn btn-info" (click)="goHome()">Admin Home</button>
  
  </div>
  </div>
    </div>

<form (ngSubmit)="onSignupSubmit()">
  <div class="form-group">
	
	<label for="pre1" style=" font-size:20px;margin-top:5%;align:center">Select Food Type</label>
	<select class="form-control" style= "margin-top:5%;align:center" name="pre1" [(ngModel)]="type">
      <ng-container *ngFor="let y of Type;let j=index" >
          <option value="{{y.type}}">{{y.type}}</option>
      </ng-container>
	</select>
	
<!--	<div *ngIf="Menu&&type"> -->
  <label  style=" font-size:20px;margin-top:5%;align:center">Select Food </label>
  <select class="form-control" style= "margin-top:5%;align:center" name="pre1" [(ngModel)]="food">
      
    <ng-container *ngFor="let x of Menu | myfilter:type" >
     
          <option value="{x.name}}">{{x.name}}</option>
     
        </ng-container>
	</select>

  
	
	<input type="submit" class="btn btn-primary" value="Submit" style="margin-top:5%;text-align:center">
	
  <br>
  </div>
</form>
</div>
{{type}}

{{type}}
	{{food}}
	
	
	