<div *ngIf="Menu">
<mat-tab-group class="demo-tab-group" [(selectedIndex)]="selectedTabIndex">
    <mat-tab *ngFor="let x of type;let k=index" label={{x.type}} >
        <div *ngIf="selectedTabIndex == k">
          <mat-accordion>
            <ng-container *ngFor="let y of Menu;let i=index" >
                <div *ngIf = "y.type==x.type">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title style="width:80%">
                        {{y.name}}
                      </mat-panel-title>
                      <mat-panel-description>
                        <i class="fa fa-inr" aria-hidden="true" style="margin-top:2px"></i>{{y.price}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                    <p>Description :{{y.des}}</p>
                    <button (click)="decrCount(i)">-</button>
                    <input readonly [(ngModel)]="Count[i]">
                    <button (click)="incrCount(i)">+</button>
                    </ng-template>
                  </mat-expansion-panel>
                </div>
              </ng-container>
            </mat-accordion>
          </div>
        </mat-tab>
</mat-tab-group>
</div>
