
<div class="container" id="menu" Style="">
    <!-- Example row of columns -->
      <div id="accordion" class="panel-group">
      	<div  style="Background-color:white" class="panel panel-default">
	      	<div  style="Background-color:white"  class="panel-heading" style="padding-bottom:10px">
	            <h4 style="Background-color:white" class="panel-title">
	                <a style="Background-color:white;padding:0;outline:none;" data-toggle="collapse"
	                data-parent="#accordion" href=[id]>
	                </a>
	            </h4>
	        </div>

      	</div>
      </div>
</div>
