<div *ngIf="flag==0">
  <div style="padding-left:10%;padding-top:10%;padding-right:10%;padding-bottom:10%;background:#222;">
          <h1 style="color:white;font-size:50px;font-style: italic;text-align:center;">Welcome to techwiz!</h1>
          
        </div> 
        <div class="container" style="margin-top:10px">
        <div class="row">
            <div class="row">
            <div class="jumbotron" >
          <h3>
          For Customer
          </h3>
          <br>
          <button class="btn btn-info" style="margin-top:5px;font-size:20px;width:100%" (click)="display0()">Go Here!</button><br>
          <div *ngIf="flag0==1" style="padding:20%">
            <h4>Enter Table Number:</h4>  
            <input type="number" [(ngModel)]="table" style="width:50%;height:40px;">
            <br>
            <button class="btn btn-info" (click)="customer()" style="width:40%;margin-top:30px;padding-left:5%;padding-right:5%">Submit</button>
          </div>
          </div>
          </div>
          <div class="row">
              <div class="jumbotron">
              <h3>
              For Admin
              </h3><br>
              <button class="btn btn-info" style="margin-top:5px;font-size:20px;width:100%"  (click)="display()">Login</button><br>
              <div *ngIf="flag1==1" style="padding:20%">
                <h4>Enter Password:</h4>  
                <input type="password" [(ngModel)]="pass" style="width:50%;height:40px;">
                <br>
                <button class="btn btn-info" (click)="checkpass()" style="width:40%;margin-top:30px;padding-left:5%;padding-right:5%">Submit</button>
                </div>
            </div>
            </div>
            <div class="row">

                <div class="jumbotron">
                <h3>
                For Chef
                </h3><br>
                <button class="btn btn-info" style="margin-top:5px;font-size:20px;width:100%"  (click)="display1()">Login</button><br>
                <div *ngIf="flag2==1" style="padding:20%">
                  <h4>Enter Password:</h4>  
                  <input type="password" [(ngModel)]="pass1" style="width:50%;height:40px;">
                  <br>
                  <button class="btn btn-info" (click)="checkpass1()" style="width:40%;margin-top:30px;padding-left:5%;padding-right:5%">Submit</button>
                  </div>
  
            </div>
            </div>
        </div>  
        </div>
      </div>
  <div *ngIf="flag==1">
  <app-navbar></app-navbar>
  <div class="container">
  <flash-messages></flash-messages>
  <router-outlet></router-outlet>
  
  </div>
  </div>
  
  <div *ngIf="flag==2">
          <div class="container">
          <flash-messages></flash-messages>
          <router-outlet></router-outlet>
          
          </div>
  </div>
  <div *ngIf="flag==3">
          <div class="container">
          <flash-messages></flash-messages>
          <router-outlet></router-outlet>
          
          </div>
  </div>