<div *ngIf="flag==0">
  <div style="padding-left:10%;padding-top:10%;padding-right:10%;padding-bottom:10%;background:rgb(251, 161, 0,0.5);">
          <h1 style="color:white;font-size:50px;font-style: italic;text-align:center;">Welcome to TAJ!</h1>
          
        </div> 
        <div class="container" style="text-align:center;margin:0px;width:100%">
        <h1 style="color:white;font-size:50px">
            For Customer
        </h1>
        <button  class="btn btn-lg" style="background:#FBA100;width:40%" (click)="display0()">Go Here!</button>
          
          <div *ngIf="flag0==1" style="padding:5%;color:white">
            <h4>Enter Table Number:</h4>  
            <input type="number" [(ngModel)]="table" style="width:50%;height:40px;color:black">
            <br>
            <button class="btn btn-info" (click)="customer()" style="width:40%;margin-top:30px;padding-left:5%;padding-right:5%">Submit</button>
          </div>
          
          <h1 style="color:white;font-size:50px">
              For Admin
          </h1>
          <button  class="btn btn-lg" style="background:#FBA100;width:40%" (click)="display()">Login</button>
                
                <div *ngIf="flag1==1" style="padding:5%">
                    <h2 style="color:white">Enter Username</h2>  
                    <input type="text" [(ngModel)]="user" style="width:50%;height:40px;">  
                <h2 style="color:white">Enter Password</h2>  
                <input type="password" [(ngModel)]="pass" style="width:50%;height:40px;">
                <br>
                <button class="btn btn-info" (click)="checkpass()" style="width:40%;margin-top:10px">Submit</button>
                </div>
            
            
                <h1 style="color:white;font-size:50px">
                For Chef
                </h1>
                <button  class="btn btn-lg" style="background:#FBA100;width:40%;margin-bottom:40px" (click)="display1()">Login</button>
              
                <div *ngIf="flag2==1" style="padding:5%">
                    <h2 style="color:white">Enter Username</h2>  
                    <input type="text" [(ngModel)]="user1" style="width:50%;height:40px;">  
                <h2 style="color:white">Enter Password</h2>  
                <input type="password" [(ngModel)]="pass1" style="width:50%;height:40px;">
                <br>
                <button class="btn btn-info" (click)="checkpass1()" style="width:40%;margin-top:10px">Submit</button>>
                  </div>
  
           
                </div>  
      </div>
  <div *ngIf="flag==1">
  <app-navbar></app-navbar>
  <div class="container">
  <flash-messages></flash-messages>
  <router-outlet></router-outlet>
  
  </div>
  </div>
  
  <div *ngIf="flag==2">
          <div class="container">
          <app-admin-notifications></app-admin-notifications>
          <flash-messages></flash-messages>
          
          <router-outlet></router-outlet>
          
          </div>
  </div>
  <div *ngIf="flag==3">
          <div class="container">
          <flash-messages></flash-messages>
          <router-outlet></router-outlet>
          
          </div>
  </div>