
<div class="container">
  <div class="jumbotron" style="margin-top:5%;align:center">
  <h1 style="text-align:center">Welcome Admin</h1>      
  
</div>
  <div class="btn-group-vertical" style="width:80%;margin-left:10%;margin-right:10%;margin-top:20px">
	  <a class="btn btn-warning" [routerLink]="['/managemenu']">MANAGE MENU</a>
	  <a class="btn btn-warning" [routerLink]="['/viewfeedback']">VIEW FEEDBACK</a>
	  <a class="btn btn-warning" [routerLink]="['/vieworders']">VIEW ORDERS</a>
    <a class="btn btn-warning" [routerLink]="['/managemenu']">VIEW STATISTICS</a>
    <a class="btn btn-warning" [routerLink]="['/offer']">OFFERS</a>
    
  </div>
</div>