<div class="jumbotron" *ngIf="flag==0" style="padding:20%">
<h2>Enter Password:</h2>  
<input type="password" [(ngModel)]="pass" style="width:50%;height:40px;">
<br>
<button class="btn btn-info" (click)="checkpass()" style="width:40%;margin-top:30px;padding-left:5%;padding-right:5%">Submit</button>
</div>
<div *ngIf="flag==1">
<div class="container">
  <div class="jumbotron" style="margin-top:10%;align:center">
  <h1 style="text-align:center">Welcome Admin</h1>      
  
</div>
  <div class="btn-group-vertical" style="width:80%;margin-left:10%;margin-right:10%;margin-top:20px">
	  <a class="btn btn-warning" [routerLink]="['/managemenu']">MANAGE MENU</a>
	  <a class="btn btn-warning" [routerLink]="['/viewfeedback']">VIEW FEEDBACK</a>
	  <a class="btn btn-warning" [routerLink]="['/vieworders']">VIEW ORDERS</a>
	  <a class="btn btn-warning" [routerLink]="['/managemenu']">VIEW STATISTICS</a>
  </div>
</div>