

      <div class="container" style="text-align:center;margin:0px;width:100%">
          <h1 style="color:#FBA100;font-size:50px">
              Welcome to  Taj
          </h1>
        
          <h1 style="color:white;font-size:50px">
              Just Login And Continue 
          </h1>
          <button  class="btn btn-lg" style="background:#FBA100;width:40%" [routerLink]="['/login']">Login</button>
        
      
          <h1 style="color:white;font-size:50px">
              First time User?
          </h1>
          <button class="btn btn-lg" style="background:#FBA100;width:40%" [routerLink]="['/signup']">Signup</button>
      </div>  