

  <div class="container" style="margin-top:10px">
  <div class="row">
    
    <div class="jumbotron" >
    <h1>
    Welcome to Our Restaurant!!
    </h1>
    <br>
    <h2>Glad To See You Again!!</h2>
    <br><h3>Just Login And Continue!</h3> 
    <button class="btn btn-info" style="margin-top:5px;font-size:20px;width:100%">Login</button><br>
    <h2 style="margin-top:5px">First time User?</h2>
    <h3>Don't Worry Just Create a New Account Here:</h3>
    <button class="btn btn-info"style="margin-top:5px;font-size:20px;width:100%">Signup</button>
    </div>
    </div>
    
      </div>