
<div class="container">
  <div class="row">
  <div class="col-sm-2 col-md-2 col-lg-2">
    <button class="btn btn-info" (click)="goBack()"  style="margin:5%">Back</button>
  
  </div>
</div>
</div>


<div class="container"  style="border-style : groove">
<div class="jumbotron">
<div class="row">
<div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">FOOD NAME</div>


<div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">FOOD TYPE</div>
<div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">QUANTITY</div>




</div>







</div>


<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3 col-xs-3"></div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
        <label for="pre1" style=" font-size:20px;margin-top:5%">Select Food Type</label>
        <select class="form-control" style= "margin-top:5% ;margin-bottom:5%" name="pre1" [(ngModel)]="type">
          <ng-container *ngFor="let y of Type;let j=index" >
            <option value="{{Type[j].type}}">{{Type[j].type}}</option>
          </ng-container>
        </select>
    </div>

    <button class="btn btn-info" (click)="sort()" style="margin:5%">Sort</button>
  </div>
</div>

<div class="row" style="margin-bottom:2%; border-bottom-style : groove" *ngFor="let x of Menu | myfilter:type">
  <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
    {{x.name}}
  </div>
 
     
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">{{x.type}}</div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">{{x.count}}</div>
        
     
      </div>
    
  



</div>


