<div *ngIf="Count">
  <ngc-float-button icon="menu" (click)="goToMenu()" [direction]="right">
    </ngc-float-button>


  <ng-container *ngFor="let y of Menu;let i=index" >
      <div *ngIf = "Count[i]>0">
        
              {{y.name}}
            
              <i class="fa fa-inr" aria-hidden="true" style="margin-top:2px"></i>{{y.price}}
            
          <p>Description :{{y.des}}</p>
          <button (click)="decrCount(i)">-</button>
          <input readonly [(ngModel)]="Count[i]">
          <button (click)="incrCount(i)">+</button>
         
      </div>
    </ng-container>
  
</div>
