
<div class="container">
  <div class="row">
  <div class="col-sm-2 col-md-2 col-lg-2">
    <button class="btn btn-info" (click)="goBack()"  style="margin:5%">Back</button>
  
  </div>
</div>
</div>


<div class="container"  style="border-style : groove">
<div class="jumbotron">
<div class="row">
<div class=col-sm-4 col-md-4 col-lg-4>EMAIL</div>
<div class=col-sm-4 col-md-4 col-lg-4>
<div class=row>
<div class="col-sm-6 col-md-6 col-lg-6">FOOD NAME</div>
<div class="col-sm-6 col-md-6 col-lg-6">QUANTITY</div>


</div>


</div>



<div class=col-sm-4 col-md-4 col-lg-4>TOTAL BILL</div>


</div>



</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <input type="text" name="mail" placeholder="Enter Email Id"  [(ngModel)]="email" style="margin:5%">
    </div>
  </div>
</div>

<div class="row" style="margin-bottom:2%; border-bottom-style : groove" *ngFor="let x of orderz | myfilterEmail:email">
  <div class="col-sm-4 col-md-4 col-lg-4">
    {{x.email}}
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="row" style="margin-bottom:5%" *ngFor="let y of x.orders ">
        <div class="col-sm-6">{{y.foodname}}</div>
        <div class="col-sm-6">{{y.Count}}</div>
        
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        {{100}}
      </div>
    
  



</div>


</div>
