
<div class="container">
  <div class="row">
  <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
    <button class="btn btn-info" (click)="goBack()"  style="margin:5%">Back</button>
  
  </div>
</div>
</div>


<div class="container"  style="border-style : groove;font-size:20px">
<div class="jumbotron">
<div class="row">
<div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">EMAIL</div>
<div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
<div class="row">
<div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">FOOD NAME</div>
<div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">QUANTITY</div>


</div>


</div>



<div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">TOTAL BILL</div>


</div>



</div>

<div class="container " style="font-size:15px">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
      <input type="text" name="mail" placeholder="Enter Email Id"  [(ngModel)]="email" style="margin:5%;width:75%;font-size:65%">
    </div>
  </div>
</div>

<div class="row" style="margin-bottom:2%; border-bottom-style : groove;color:white;font-size:15px" *ngFor="let x of orderz | myfilterEmail:email">
  <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
    {{x.email}}
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
      <div class="row" style="margin-bottom:5%;color:white" *ngFor="let y of x.orders ">
        <div class="col-sm-6">{{y.foodname}}</div>
        <div class="col-sm-6">{{y.Count}}</div>
        
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4" style="color:white">
        {{x.total}}
      </div>
    
  



</div>


</div>
